:root{
  --primary: #2563eb;        /* 600 */
  --primary-darker: #1d4ed8;  /* 700 */

  --background: hsl(214, 100%, 97%);     /* 50 */
  --background-darker: hsl(214, 99%, 93%);     /* 100 */

  --text: #1e3a8a;           /* 900 */
  --text-muted: #3b82f6;     /* 500 */

  --border: hsl(213, 97%, 87%);         /* 200 */
}